<a href="https://colab.research.google.com/github/PulkitKhator/Menu-Parsing/blob/main/Menu_Parsing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import urllib.request, json

In [ ]:
def menu(data):
  df = pd.DataFrame.from_dict(data)
  result = pd.DataFrame({'ProductPrice':[],'CategoryId':[],'CategoryName':[],'ProductId':[],'ProductName':[],'SDMID':[]})
  for row in range(len(df)):
    ProductPrice = []
    CategoryId = []
    CategoryName = []
    ProductId = []
    ProductName = []
    SDMID = []
    df1 = pd.DataFrame.from_dict(df['categories'][row])
    for j in range(len(df1)):
      df2 = pd.DataFrame.from_dict(df1['products'][j],orient='index').transpose()
      ProductPrice.append(df2['finalPrice'][0])
      CategoryId.append(str(df1['id'][0]))
      CategoryName.append(df1['categoryCode'][0])
      ProductId.append(str(df2['id'][0]))
      ProductName.append(df2['name'][0])
      SDMID.append(str(df2['sdmId'][0]))
    R = pd.DataFrame(list(zip(ProductPrice, CategoryId, CategoryName, ProductId, ProductName, SDMID)), columns = ['ProductPrice','CategoryId','CategoryName','ProductId','ProductName','SDMID'])
    result = result.append(R, ignore_index = True)
  return result

In [ ]:
def web_link(link):
  with urllib.request.urlopen(link) as url:
    data = json.loads(url.read().decode())
    return menu(data)

In [ ]:
link = "https://amfprodneblobstorage.blob.core.windows.net/amfprodneblobstorage/production/v1/kfc_uae_1_En.json?sv=2019-02-02&ss=bfqt&srt=sco&sp=rl&se=2029-04-09T19:07:24Z&st=2020-04-09T11:07:24Z&spr=https&sig=Z67UuDjY4QScWJCAMeXZmMn7VLH%2F3uL6xv6vpXnInOA%3D"
uae = web_link(link)
uae

    ProductPrice CategoryId CategoryName ProductId           ProductName SDMID
0          135.0          4        Deals       230  24 PCs Double Bucket   175
1           59.0          4        Deals      2174       Super Mega Deal   247
2           32.5          4        Deals   7777320     Super Dinner Meal   284
3           25.0          4        Deals   7777321          Mighty Twist   268
4           38.0          4        Deals   7777414      Zinger Blaze Box   347
..           ...        ...          ...       ...                   ...   ...
67           9.5         10    Beverages        33                 Pepsi     1
68           9.5         10    Beverages        37            Diet Pepsi     5
69           9.5         10    Beverages        41                  7 UP     6
70           9.5         10    Beverages        45          Mountain Dew     7
71           9.5         10    Beverages        49               Mirinda     8

[72 rows x 6 columns]